__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.env.*
.mlflow/
mlruns/
artifacts/data/raw/*.csv
artifacts/data/processed/*.csv
artifacts/data/reference/*.csv
artifacts/models/*.pkl
artifacts/reports/*.json
artifacts/metrics/*.json
*.log
.idea/
.vscode/
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
