fastapi
uvicorn[standard]
pandas
numpy
scikit-learn
joblib
pydantic
python-multipart
requests
prometheus-client
boto3
mlflow
psycopg-binary
psycopg2-binary
psycopg_pool
SQLAlchemy
evidently
apache-airflow
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-postgres
apache-airflow-providers-docker
great-expectations
python-dotenv
